!/**/
!*.*
!*/*/makefile
!*/*/Makefile
!*/*/LICENSE

*.o
*.a
._*
.DS_STORE
.DS_Store
*.vtu
*.dat
*.txt
*.eps
*.png
*.pdf
*.log
*.bmp
*.swp
*.orig
*.out
acousticsMain

**/*.o
**/*.c~
*.m~
*.nvprof

occa/
