!/**/
!*.*
!*/*/makefile
!*/*/Makefile
!*/*/LICENSE

*.o
*.a
._*
.DS_STORE
.DS_Store
*.vtu
*.eps
*.png
*.pdf
*.log
*.bmp
*.swp
*.orig
*.out
*.dSYM
solvers/acoustics/data/*
acousticsMain
armadillo
acousticsTestMain

**/*.o
**/*.c~
*.m~
*.nvprof
